.bg-custom {
  background: #009EC1;
}

.text-custom-1 {
  font-family: 'Poppins ExtraBold', sans-serif;
  color: white;
}

.text-custom-2 {
  font-family: 'Poppins Light', sans-serif;
  color: white;
}
