<!-- Footer -->
<footer class="bg-custom"
        style="margin-top: 100px">
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h5 class="text-custom-1 mb-4">About Us</h5>
          <p class="text-white text-custom-2">
            Sebuah platform website pembelajaran online berbasis crowd untuk kebutuhan peningkatan
            kapabilitas tim yang terlibat dalam proses pengembangan...
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h5 class="text-custom-1 mb-4">
            Categories
          </h5>
          <ul class="text-custom-2">
            <li class="text-white"><a class="text-reset text-decoration-none" href="#!">Enroll</a></li>
            <li class="text-white"><a class="text-reset text-decoration-none" href="#!">Profile</a></li>
            <li class="text-white"><a class="text-reset text-decoration-none" href="#!">Course</a></li>
            <li class="text-white"><a class="text-reset text-decoration-none" href="#!">Article</a></li>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h5 class="text-custom-1 mb-4">
            Social Media
          </h5>
          <ul class="text-custom-2">
            <li class="text-white"><a class="text-reset text-decoration-none" href="https://www.instagram.com/">Instagram</a></li>
            <li class="text-white"><a class="text-reset text-decoration-none" href="https://twitter.com/">Twitter</a></li>
            <li class="text-white"><a class="text-reset text-decoration-none" href="https://linkedin.com/">LinkedIn</a></li>
            <li class="text-white"><a class="text-reset text-decoration-none" href="https://facebook.com/">Facebook</a></li>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h3 class="text-white mt-5 text-custom-1">CrowdAcademy</h3>
          <p class="text-white text-custom-2">Crowd Academy Website</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
</footer>
<!-- Footer -->
