.bg-custom {
  background: #00A398;
  height: 80px;
}

.navbar-brand {
  font-family: 'Poppins ExtraBold', sans-serif;
  font-size: 25px;
  color: white;
}

.text-decoration-none {
  font-family: 'Poppins SemiBold', sans-serif;
  color: white;
}


.btn-custom-1 {
  font-family: 'Poppins SemiBold', sans-serif;
  width: 100px;
  background: white;
  border-radius: 10px;
  color: #00A398;
}

.btn-custom-2 {
  font-family: 'Poppins SemiBold', sans-serif;
  width: 130px;
  height: 55px;
  background: #FA9441;
  border-radius: 12px;
  color: white;
}

.text-1 {
  font-family: 'Poppins ExtraBold', sans-serif;
  color: #FA9441;
  font-size: 50px;
}

.text-2 {
  font-family: 'Poppins ExtraBold', sans-serif;
  color: #009EC1;
  font-size: 50px;
}

.text-3 {
  font-family: 'Poppins Medium', sans-serif;
}

.border-custom {
  width: 300px;
  border: 2px solid #009EC1;
  background: #009EC1;
}

