.title-1 {
  font-family: 'Poppins ExtraBold', sans-serif;
  color: #00A398;
}

.btn-custom-1 {
  background: #009EC1;
  height: 40px;
  font-size: 13px;
  font-family: 'Poppins SemiBold', sans-serif;
  color: white;
}

.btn-custom-2 {
  background: #FA9441;
  height: 40px;
  width: 140px;
  font-size: 14px;
  font-family: 'Poppins SemiBold', sans-serif;
  color: white;
}

.btn-custom-3 {
  background: #00A398;
  height: 50px;
  font-size: 16px;
  font-family: 'Poppins SemiBold', sans-serif;
  color: white;
}

.label-custom {
  font-family: 'Poppins SemiBold', sans-serif;
  color: #009EC1;
}

.input-custom {
  font-family: 'Poppins Medium', sans-serif;
  border-color: #FA9441;
  font-size: 15px;
  border-width: 2px;
  height: 40px;
}

.card-custom {
  border-color: #00A398;
  border-width: 2px;
}
