<div class="card p-4">
  <form>

    <div class="text-center">
      <h3 class="title-1 mb-3">Edit Profile</h3>
      <img alt="Avatar" class="avatar mb-4" src="assets/images/img_avatar.png"
           style="width: 150px; height: 150px;">
      <br>
      <button class="btn btn-custom-1 mb-3">Upload Profile</button>
    </div>

    <div class="row">
      <div class="ms-5 me-5 col">
        <div class="mb-5">
          <label class="form-label label-custom">Category</label>
          <select class="form-select input-custom">
            <option selected>Select category</option>
            <option value="1">UI/UX Designer</option>
            <option value="2">Front End Developer</option>
            <option value="3">Back End Developer</option>
            <option value="4">Data Analyst</option>
          </select>
        </div>
      </div>
    </div>

    <div class="card p-5 card-custom">
      <h4 class="title-1">Information Basics</h4>
      <br>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label label-custom">Name</label>
            <input class="form-control input-custom" placeholder="Enter your name" type="text">
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label label-custom">Date of Birth</label>
            <input class="form-control input-custom" type="date">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label label-custom">Email</label>
            <input class="form-control input-custom" placeholder="Enter your email addres" type="email">
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label label-custom">Gender</label>
            <select class="form-select input-custom">
              <option selected>Select your gender</option>
              <option value="1">Male</option>
              <option value="2">Female</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label label-custom">Phone</label>
            <input class="form-control input-custom" placeholder="Enter your phone number" type="number">
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label label-custom">Address</label>
            <textarea class="form-control input-custom" rows="1" placeholder="Enter your address"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="card p-5 mt-5 card-custom">
      <h4 class="title-1">Last Education</h4>
      <br>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label label-custom">Degree</label>
            <input class="form-control input-custom" placeholder="Enter your degree name" type="text">
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label label-custom">GPA</label>
            <input class="form-control input-custom" placeholder="Enter your GPA" type="number">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label label-custom">Institution</label>
            <input class="form-control input-custom" placeholder="Enter your institution name" type="text">
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label label-custom">Graduation year</label>
            <input class="form-control input-custom" placeholder="Enter your graduation year" type="number">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label label-custom">Major</label>
            <input class="form-control input-custom" placeholder="Enter your level of major" type="text">
          </div>
        </div>
        <div class="col">
        </div>
      </div>
    </div>

    <div class="card p-5 mt-5 mb-4 card-custom">
      <div class="row">
        <div class="mb-4">
          <label class="form-label label-custom">Experience</label>
          <br>
          <button class="btn btn-custom-2">Add Work</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4">
          <div class="mb-4">
            <label class="form-label label-custom">Company</label>
            <input class="form-control input-custom" placeholder="Enter your company name" type="text">
          </div>
        </div>
        <div class="col-xl-4">
          <div class="mb-4">
            <label class="form-label label-custom">Position</label>
            <input class="form-control input-custom" placeholder="Enter your name of position" type="text">
          </div>
        </div>
        <div class="col">
          <div class="mb-4">
            <label class="form-label label-custom">Start Date</label>
            <input class="form-control input-custom" type="date">
          </div>
        </div>
        <div class="col">
          <div class="mb-4">
            <label class="form-label label-custom">End Date</label>
            <input class="form-control input-custom" type="date">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="mb-4">
          <label class="form-label label-custom">Project</label>
          <br>
          <button class="btn btn-custom-2">Add Project</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8">
          <div class="mb-4">
            <label class="form-label label-custom">Project</label>
            <input class="form-control input-custom" placeholder="Enter your project name" type="text">
          </div>
        </div>
        <div class="col">
          <div class="mb-4">
            <label class="form-label label-custom">Start Date</label>
            <input class="form-control input-custom" type="date">
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label label-custom">End Date</label>
            <input class="form-control input-custom" type="date">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="mb-4">
          <label class="form-label label-custom">Description</label>
          <textarea class="form-control input-custom" rows="3"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="mb-4">
          <label class="form-label label-custom">Knowledge</label>
          <br>
          <button class="btn btn-custom-2">Add Knowledge</button>
        </div>
      </div>
      <div class="row">
        <div class="mb-4">
          <label class="form-label label-custom">Knowledge</label>
          <input class="form-control input-custom" type="text" placeholder="Add your knowledge here">
        </div>
      </div>
    </div>
  </form>
  <button class="btn btn-custom-3">Save Changes</button>
</div>
