.gradient-custom-2 {
  /* fallback for old browsers */
  background: #009EC1;
  background-size: cover;
}

.text-1 {
  font-family: 'Poppins ExtraBold', sans-serif;
  color: #009EC1;
}

.text-2 {
  font-family: 'Poppins Medium', sans-serif;
  color: #009EC1;
}

.text-3 {
  font-family: 'Poppins Medium', sans-serif;
  font-size: 14px;
  color: #FA9441;
}

.text-4 {
  font-family: 'Poppins Medium', sans-serif;
  font-size: 14px;
  color: #00A398;
}

.input-1 {
  font-family: 'Poppins Medium', sans-serif;
  border-color: #FA9441;
  font-size: 15px;
  border-width: 2px;
  height: 55px;
}

.btn-custom-1 {
  font-family: 'Poppins SemiBold', sans-serif;
  background: #FA9441;
  color: white;
  height: 55px;
}

.btn-custom-2 {
  font-family: 'Poppins SemiBold', sans-serif;
  background: #00A398;
  color: white;
  height: 45px;
}
